///FONT FORMATTING///

.is-font__medium{
  font-family: $type-main, "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.is-font__light{
  font-family: $type-main, "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.is-font__black{
  font-family: $type-main, "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 600;
}