.section__clients
  @extend .with__padding--top

.client__item
  @extend .small-6
  @extend .large-4
  @extend .columns

.client__item:last-child
  @extend .small-12
  @extend .large-4

.client__image
  @include circle(10rem)
  height: 10rem
  width: 10rem
  border: .5rem solid
  @extend .is__border--dark

  filter: grayscale(1)
  background-size: contain !important
  margin: auto
  margin-top: 2rem

  @media #{$tabletish}
    width: 15rem
    height: 15rem
    @include circle(15rem)

  &:hover
    filter: grayscale(0)


@each $client in fedex, manhattan, liberty, building, convo
  .client__#{$client}
    background: image-url('clients/#{$client}.png') no-repeat center center
    @extend .client__image

.clients__container
  border-top: 1rem double

  @extend .is__background--white

  &:before
    content: "OUR CLIENTS"
    background: rgb(255, 255, 255)
    padding: 1.3rem 1rem
    flex: 1
    margin: auto

  &.is__button-like
    &:before
      -webkit-transform: translateY(-1.5rem)
      border-radius: .3rem
      border: rgb(254, 173, 9) .4rem solid
      font-size: 1.3rem
      font-family: raleway
      font-weight: 600
      box-shadow: 0 .5rem rgb(158, 110, 11)

  &.is__clean
    &:before
      -webkit-transform: translateY(-3rem)
      border-radius: 0.3rem
      border-right: 0.4rem solid
      border-left: 0.4rem solid
      @extend .is__border--dark
      font-size: 2.5rem
      font-family: raleway
      font-weight: 600