---
title: Index
---
// INTRO TEXT
%section.section__index
  .index__splash--container.g.Aligner.g
    .gc.index__hiring
      %button.is__border--color--yellow we're hiring
    .row.gc
      .small-12.columns.index__logo--container
        .site__logo.gc


%section.with__padding--top
  .row
    .small-12.columns
      %blockquote.is__text--centered.is__text--color--yellow
        The pit stop for all businesses. We do everything from accounting to financing to bookkeeping.

%section.section__clients
  .row.h2__container
    .small-12.columns
      %h2 OUR CLIENTS
    .small-10.columns.small-offset-1
      %blockquote.is__text--centered.is__text--color--preposition We have and we continue to work with presitigious clients.
    .client__item
      %figure.client__fedex
    .client__item
      %figure.client__manhattan
    .client__item
      %figure.client__liberty
    .client__item.large-offset-2
      %figure.client__building
    .client__item
      %figure.client__convo

%section.with__padding--top
  .row.h2__container
    .small-12.columns
      %h2 OUR STYLE
    .small-10.small-centered.columns
      %blockquote.is__text--centered.is__text--color--preposition  You are one of us. You aren't just a client. You never are.
    .client__item

