---
title: Index
---
// INTRO TEXT
%section.section__index
  .index__splash--container.g.Aligner.g
    .gc.index__hiring
      %button.is__border--color--yellow we're hiring
    .row.gc
      .small-12.columns.index__logo--container
        .site__logo.gc


%section.with__padding--top
  .row
    .small-12.columns
      %blockquote.is__text--centered.is__text--color--yellow
        The pit stop for all businesses. We do everything from accounting to financing to bookkeeping.

%section.section__clients
  .row.h2__container
    .small-12.columns
      %h2.is__background--color--verb.is__text--dark OUR CLIENTS
    .small-10.columns.small-offset-1
      %blockquote.is__text--centered We have and we continue to work with presitigious clients.
    .client__item
      %figure.client__fedex
    .client__item
      %figure.client__manhattan
    .client__item
      %figure.client__liberty.hover__dark
    .client__item.large-offset-2
      %figure.client__building.hover__dark
    .client__item
      %figure.client__convo

%section.with__padding--top
  .row
    .small-12.columns
      %blockquote.is__text--centered You are one of us. You aren't just a client. You never are.

%section.section__staff
  .row.h2__container
    .small-12.columns
      %h2.is__background--color--verb.is__text--dark OUR STAFF
  .staff__container
    .staff__item.large-4
      .staff__item--image
    .staff__item.large-8
      .staff__item--text
        %h3 Edward Siccsorhands
        %h4 The famous character, comparable to frankenstein, except far more intelligent and carries a darkly existential conflict.
  .staff__container
    .staff__item.large-4
      .staff__item--image
    .staff__item.large-8
      .staff__item--text
        %h3 John Doe
        %h4 Lorem Ispum Jeans Levi cracks in concrete tiles and couchs are red but green on snoopy days the fire anguishes in the face of the blooming flower posters plastered yellow and black fonts foundries

