%section.section-splash__box.block-introtext
  .row
    .small-12.columns
      %h1
        %mark
          Kitchen

    .small-12.columns
      %h1.giga
        %mark
          We are the smart and the powerful.
      %h1.mega
        %mark.is__text--medium
          And this is our sidekick.
%section.content-color
  .row
    .small-12.columns
      %h1 Some Activist Title
      :markdown
        ##This is <mark>what we do</mark>. We have brought forward countless issues & helped many grassroot activists carry out their voice.
      %h3 Service
      %h4 Revolutionary
      %h5 Legalese
      %h6 Bullshit link
    .small-12.columns
      %p Celery seakale desert raisin taro wakame pea sprouts. Broccoli rabe courgette rock melon cress epazote bell


    .small-12.columns
      .button.tiny.disabled Donate
      .button.small.disabled Donate
      .button.secondary Donate
      .button.secondary Contact
      .button.radius.success Contact